body {
    background-color: red;
    color: azure;
    font-size: 1.1em;
}
h1 {
    font-family: cursive,fantasy "Times New Roman";
    color: white;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}
